@font-face {
    font-family: 'Pixel Digivolve';
    src: url('../font/Pixel Digivolve.otf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
}

html {
    cursor: url('../images/darkcyanc.png'), auto;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

body {
    overflow-x: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    height: 100%s;
    width: 100%;
}

.container .Hello {
    position: absolute;
    top: 28%;
    left: 10.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 51.4599px;
    line-height: 63px;
    color: #FFFFFF;
}

.container .Arsham {
    position: absolute;
    top: 37.5%;
    left: 10.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 80px;
    line-height: 63px;
    color: #F9CC14;
}

.container .NavDesc {
    position: absolute;
    top: 46.5%;
    left: 10.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    line-height: 63px;
    color: #ffffff;
}

.container .ArshamImg {
    width: 28%;
    position: absolute;
    top: 15%;
    left: 55%;
    z-index: -1;
}

.container .geo {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 15%;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 3.5rem;
    background: #1F1F1F;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

nav .navv {
    text-decoration: none;
    color: #ffffff;
    margin: 0 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
}

.navv a {
    margin-bottom: 10%;
    color: inherit;
    transition: all .3s ease-in-out;
}

.navv a:hover {
    color: #F9CC14 !important;
}

.navv:hover {
    color: #F9CC14;
}

img {
    width: 100%;
    height: auto;
}

.aboutme {
    margin-top: 0%;
}

.skills .tooltip .r-arsham {
    top: 190%;
    left: 76.4%;
    position: absolute;
    width: 21rem;
    height: 35rem;
    z-index: 1;
}

.skills .tooltip .tooltiptext {
    visibility: hidden;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 500px;
    left: 50%;
    top: 92.5rem;
}

.skills .tooltip:hover .tooltiptext {
    visibility: visible;
}

.gallery {
    margin-top: 10%;
}

.gallery .parent {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
}

.gallery .parent ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat();
    grid-template-columns: repeat();
}

.sectiontitle {
    text-align: center;
    font-family: 'Pixel Digivolve', sans-serif;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sectionbackground {
    left: 12.5%;
    position: absolute;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sectiontext {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    left: 10%;
    margin-left: 5.25rem;
    margin-right: 15.25rem;
    margin-top: 2rem;
}

main {
    margin: 0 10% 10% 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
}

main img {
    height: 100%;
    width: 100%;
}

main .c2 {
    margin-right: 5%;
    margin-top: 2rem;
    position: relative;
}

main .c2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

main .c2 .overlay h3 {
    z-index: 1;
}

main .c2:hover .overlay {
    z-index: 1;
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}

.navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    z-index: 2;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #1d1d1d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #1d1d1d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar .logo {
    width: 100%;
}

.logo img {
    width: 80px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1.3em;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


html {
    scroll-behavior: smooth;
}

.about-images {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 14%;
}

@media screen and (max-width:640px) {
    .about-images {
        flex-wrap: wrap;
        padding: 0 2em;
    }
    .above {
        width: 70% !important;
        margin-right: auto;
    }
    .abovenew {
        width: 70% !important;
        flex-direction: column-reverse;
        margin-left: auto;
        margin-top: 15%;
    }
}

.about-images::before {
    content: '';
    bottom: 5;
    left: 0;
    position: absolute;
    width: 100%;
    height: 17px;
    background: #1f7ae0;
    z-index: -3;
}

.above {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
}

.abovenew {
    display: flex;
    position: relative;
    width: 25%;
    flex-direction: column-reverse;
}

.moved {
    position: absolute;
    top: -59%;
    left: 18%;
}

.bob {
    animation: bob 1s infinite forwards alternate ease-in-out;
}

@keyframes bob {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(10px)
    }
}

.jeff {
    animation: jeff 1s infinite forwards alternate ease-in-out;
}

@keyframes bob {
    from {
        transform: translateY(-10px)
    }
    to {
        transform: translateY(0px)
    }
}

@keyframes jeff {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-10px)
    }
}

.modalDialog {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
}

.close {
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 10000px;
    height: 10000px;
    text-decoration: none;
    font-weight: bold;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}

.myfooter {
    height: 180px;
    color: white;
    background-color: #F9CC14;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blah {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shatterfooter {
    position: absolute;
    top: -63%;
    right: 7%;
    width: 19%;
    transition: all .2s ease-in-out;
}

.footertext {
    font-size: 20px;
    font-family: 'Pixel Digivolve';
    font-weight: bolder;
    color: black;
}

.social {
    background-image: url('../images/instasocial.svg') no-repeat;
}

.please {
    background-image: url("../images/instasocial.svg");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.please1 {
    background-image: url("../images/facebooksocial.svg");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.please2 {
    background-image: url("../images/githubsocial.svg");
    width: 70px;
    height: 70px;
}

.box {
    padding-bottom: 2%;
    margin-left: 10px;
    margin-right: 10px;
}

.social:hover {
    animation: bobbing 0.6s infinite forwards alternate ease-in-out;
}

@keyframes bobbing {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-5px)
    }
}

::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

.rotating {
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 300 linear infinite;
    -moz-animation: rotating 300s linear infinite;
    -ms-animation: rotating 300s linear infinite;
    -o-animation: rotating 300s linear infinite;
    animation: rotating 300s linear infinite;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    margin: 0 auto;
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

.aboutme {
    margin-top: 30%;
}

.contactimage {
    display: none;
}

/* Responsive layout - ma

kes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .contact{
        display:none;
    }
    .projtitle{
        margin-top:35%;
    }
    

    .topnav {
        display: block !important;
    }
    .navbar {
        display: none !important;
        background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #1d1d1d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #1d1d1d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .pixmap {
        display: none;
    }
    .contactimage {
        width: 95%;
        margin-left:3%;
        display: block;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    map:hover {
        transition: none;
        -o-transition: none;
        -webkit-transition: none;
    }
    .cardslide {
        display: none;
    }
    .jump {
        display: none;
    }
    .c2:hover p {
        font-size: 16px !important;
    }
    .hire {
        display: none;
    }
    .contacttitle {
        text-align: center;
        font-family: 'Pixel Digivolve', sans-serif;
        color: #ffffff;
        font-size: 3rem !important;
        margin-top: 20%;
    }
    .projtitle {
        text-align: center;
        font-family: 'Pixel Digivolve', sans-serif;
        color: #ffffff;
        font-size: 3rem !important;
        margin-bottom: 10% !important;
        margin-top: 45% !important;
    }
    .sectiontitle {
        text-align: center;
        font-family: 'Pixel Digivolve', sans-serif;
        color: #ffffff;
        font-size: 3rem;
        margin-bottom: 15% !important;
    }
    .paddingpls {
        padding: 5%;
    }
    .shatter {
        position: absolute;
        top: -16.2% !important;
        right: 7%;
        width: 55%;
        transition: all .2s ease-in-out;
    }
    .about-images::before {
        content: '';
        bottom: 5;
        left: 0;
        position: absolute;
        width: 100%;
        height: 17px;
        background: #000;
        z-index: -3;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .disappear {
        display: none;
    }
    .phone-title-margin {
        margin-bottom: 40%;
    }
    .container {
        height: 50vh !important;
    }
    .skills {
        margin-top: 30%;
    }
    .phone-title-margin {
        margin-bottom: 40% !important;
    }
    .mainimageplease {
        width: 100%;
        margin-top: 3.5% !important;
        content: url('../images/hs.svg') !important;
    }
    .aboutme {
        /* margin-top: 75% !important; */
    }
    .skills {
        margin-top: 25% !important;
    }
    .phone-scale {
        width: 95%;
    }
    .about-images {
        background: #000000;
    }
    .skillhover3 {
        width: 100%;
        content: url('../images/designcardmobile.svg');
    }
    .skillhover2 {
        width: 100%;
        content: url('../images/webdevnoshatter.svg');
    }
    .skillhover2:hover {
        width: 100%;
        transform: scale(1.05);
        content: url('../images/webdevhovernoshatter.svg') !important;
    }
    .skillhover3:hover {
        width: 100%;
        transform: scale(1.05);
        content: url('../images/designcardmobilehover.svg') !important;
    }
}

.c2 h2 {
    opacity: 0%;
}

.c2:hover h2 {
    text-align: center;
    font-family: "Montserrat";
    font-style: italic;
    opacity: 100%;
    padding-top: 10%;
    font-weight: bold;
}

.c2 p {
    opacity: 0%;
}

.c2:hover p {
    font-family: "Montserrat";
    font-style: italic;
    text-align: center;
    opacity: 100%;
    padding-top: 8%;
    font-size: 18px;
    max-width: 75%;
    margin-left: 12.5%;
}

.c2 a {
    opacity: 0%;
}

.c2:hover a {
    width: 10px;
    height: 10px;
    opacity: 100%;
    padding-top: 8%;
}

.contact {
    /* display: flex; */
    flex-wrap: nowrap;
    justify-content: center;
}

.cardslide {
    position: relative;
    transition: all 1s ease;
}

.jump {
    animation: jump 0.5s infinite forwards alternate ease-in-out;
}

@keyframes jump {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(10px)
    }
}

.bookmodal {
    background-image: url('../images/newnewnew.svg');
    top: -12.5%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.skillhover1:hover {
    content: url('../images/gsc.svg');
    transform: scale(1.05);
    width: 100%;
}

.skillhover2:hover {
    width: 100%;
    transform: scale(1.05);
    content: url('../images/webskillcardwithshatter.png');
}

.skillhover3:hover {
    width: 100%;
    transform: scale(1.08);
    content: url('../images/DesignSkillHover.svg');
}

.skillhover1 {
    animation: yo 0.7s linear infinite alternate;
}

.skillhover2 {
    animation: yo 0.7s linear 0.7s infinite alternate;
}

.skillhover3 {
    animation: yo 0.7s linear infinite alternate;
}

@keyframes yo {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.02)
    }
}

.topnav {
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, rgb(19, 19, 19));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, rgb(19, 19, 19)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000000000000000000000000000000000;
}

.topnav #myLinks {
    
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    font-family: 'montserrat';
    
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    /* background: #1F1F1F; */
    color: #F9CC14;
}

.active {
    background: #1F1F1F;
    color: white;
}

.burger {
    margin-right: 10%;
    width: 25%;
    float: right;
}

a .logo {
    width: 20% !important;
}

.projtitle{
    margin-top:5%;
}